mat-list-item {
    width: 100%;
    transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  
    &:hover {
      background-color: #f1f1f1;
    }
  }
  
  [mat-icon-button] {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }