<div class="row icv">
    <!-- <div class="col-sm-8"> -->
    <div (click)="selection(data)" [ngClass]="{'selection': selectedItemId == data.id}"
     *ngFor="let data of dataList" 
     class="col-sm-3 icv-grid" style="width: 24%">
        <b>{{config.fields.title}}</b> : {{data[config.fields.title]}}
        <br>
        <div *ngFor="let prop of config.fields.body">
            <div>{{prop.name}} : {{data[prop.field]}}</div>
        </div>
    </div>
    <!-- <div class="col-sm-4 icv" style="height: 100%">
        <router-outlet name="details"></router-outlet>
    </div> -->

</div>