.icv-grid{
    margin-right: 5px;
    background-color: lavender;
    padding: 3px 14px;
    height: 110px;
    margin-top: 8px;
}

.selection{
    background-color:cornflowerblue;
}

.icv{
    border: 1px solid grey;
    padding: 28px 20px;
}